<!DOCTYPE html>
<html>
<head>
  <title>Arkham Asylum Database</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "styles.css" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div>
    <%= image_tag "logo.png", class: "logo" %>
    <h1 id="arkham">ARKHAM ASYLUM DATABASE</h1>
  </div>

  <%= yield %>

</div>

</body>
</html>
